name: ci

on:
  schedule:
    # build every first of the month
    - cron: '0 0 1 * *'
  push:
  workflow_dispatch:


jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2' ]
        webserver: [ 'apache', 'nginx' ]
        distroAddon: [ '', '-alpine' ]
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push ${{ matrix.webserver }}-${{ matrix.php }}-${{ matrix.distro }}
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/pluswerk/php-dev:${{ matrix.webserver }}-${{ matrix.php }}${{ matrix.distroAddon }},ghcr.io/pluswerk/php-dev:${{ matrix.webserver }}-${{ matrix.php }}${{ matrix.distroAddon }}-${{ steps.date.outputs.date }},    pluswerk/php-dev:${{ matrix.webserver }}-${{ matrix.php }}${{ matrix.distroAddon }},pluswerk/php-dev:${{ matrix.webserver }}-${{ matrix.php }}${{ matrix.distroAddon }}-${{ steps.date.outputs.date }}
          build-args: |
            FROM=webdevops/php-${{ matrix.webserver }}-dev:${{ matrix.php }}${{ matrix.distroAddon }}
            DIST_ADDON=${{ matrix.distroAddon }}
